#home-page {

    #home-image {
        height: 400px;
        background-image: url("/home_images/1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}