#home-page {
        
    #home-image {
        height: 580px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        animation: switchImg infinite 60s ease-in-out;

        @keyframes switchImg {
            0% { background-image: url("/home_images/p1.jpg") }
            10% { background-image: url("/home_images/p1.jpg") }
            15% { background-image: url("/home_images/s1.jpg") }
            25% { background-image: url("/home_images/s1.jpg") }
            30% { background-image: url("/home_images/p2.jpg") }
            40% { background-image: url("/home_images/p2.jpg") }
            45% { background-image: url("/home_images/s2.jpg") }
            55% { background-image: url("/home_images/s2.jpg") }
            60% { background-image: url("/home_images/p3.jpg") }
            70% { background-image: url("/home_images/p3.jpg") }
            75% { background-image: url("/home_images/s3.jpg") }
            85% { background-image: url("/home_images/s3.jpg") }
            90% { background-image: url("/home_images/p1.jpg") }
            100% { background-image: url("/home_images/p1.jpg") }
        }
        
        > div {
            color: white;
            font-size: 60px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        #search-container {
            position: relative;
            z-index: 0;

            #search-bar {
                position: relative;
                z-index: 2;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 24px;
                height: 72px;
                width: 644px;
                border-radius: 40px;
                box-shadow: 0px 10px 20px 0px rgba(120, 120, 120, 0.3);
    
                > img:first-child {
                    height: 22px;
                    filter: opacity(0.5) drop-shadow(0 0 0 rgb(219, 219, 219)); 
                }
    
                > input {
                    font-size: 18px;
                    font-weight: 400;
                    color: #737373;
                    border: none;
                    width: 520px;
                    margin: 0px 15px;
                }
    
                > input:focus {
                    outline: none;
                }
    
                > img:last-child {
                    height: 40px;
                }
    
                > img:last-child:hover {
                    opacity: 0.75;
                    cursor: pointer;
                }
                
            }
    
            > #search-modal {
                position: absolute;
                z-index: 1;
                top: 60px;
                max-height: 350px;
                width: 644px;
                background: white;
                overflow-y: scroll;
                padding-top: 37px;
                border-radius: 0px 0px 0px 40px;
    
                > a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    height: 60px;
                    border-bottom: 0.25px solid rgba(190, 190, 190, 0.25);
                    color: rgb(70, 70, 70);
                    font-family: Arial, Helvetica, sans-serif;
    
                    > img {
                        height: 30px;
                        margin-left: 15px;
                    }
    
                    > article {
                        margin-left: 15px;
    
                        > div:first-child {
                            font-size: 16px;
                        }
    
                        > div:last-child {
                            font-size: 12px;
                            margin-top: 8px;
                        }
                        
                    }
                    
                }
    
                > a:hover {
                    background-color: rgb(232, 232, 232);
                    color: #428a13;
                    cursor: pointer;
                }
                
            }

        }
        
    }

    #trail-cards {

    }
    
}