#profile-page {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: rgb(75, 75, 75);

    > div {
        width: 1000px;
        background: white;
        border: 1px solid rgb(220, 220, 220);

        > section:first-child {
            background: rgb(240, 240, 240);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            margin-top: -1px;
            position: relative;

            > h2 {
                font-size: 30px;
                margin-left: 10px;
            }

            > a {
                margin-right: 10px;
                background: rgb(41, 156, 190);
                border: 2px solid rgb(41, 156, 190);
                border-radius: 20px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                padding: 8px 14px;
                transition:
                    background-color 0.2s ease-in-out,
                    color 0.2s ease-in-out;
            }

            > a:hover {
                background: white;
                color: rgb(41, 156, 190);
            }

            > #fail-popup {
                position: absolute;
                top: -30px;
                right: 5px;
                background: white;
                border: 2px solid red;
                border-radius: 15px;
                z-index: -1;
                padding: 15px;
                color: red;
                opacity: 0;
                transition:
                    opacity 0.5s ease-in-out,
                    top 0.5s ease-in-out;

                > p {
                    font-size: 18px;
                    margin-bottom: 8px;
                }

                > li {
                    font-size: 14px;
                }

            }

            > #fail-popup.show {
                opacity: 1;
                z-index: 1;
                top: 5px;
            }

            > #success-popup {
                position: absolute;
                top: -30px;
                right: 5px;
                background: white;
                border: 2px solid #428a13;
                border-radius: 15px;
                z-index: -1;
                padding: 15px;
                color: #428a13;
                opacity: 0;
                transition:
                    opacity 0.5s ease-in-out,
                    top 0.5s ease-in-out;

                > p {
                    font-size: 18px;
                }

            }

            > #success-popup.show {
                opacity: 1;
                z-index: 1;
                top: 5px;
            }

        }

        > section:last-child {
            padding: 25px;
            display: flex;
            min-height: 467px;

            > div:first-child {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                > img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                > p:nth-child(2) {
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 10px;
                }

                > p:nth-child(3) {
                    font-size: 14px;
                }

                > label {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: white;
                    opacity: 0.75;
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > input {
                        display: none;
                    }

                }

                > label:hover {
                    color: #428a13;
                    background: rgb(240, 240, 240);
                    cursor: pointer;
                }

                > label.error {
                    color: red;
                }

            }

            > div:last-child {
                margin-left: 25px;
                display: flex;
                flex-direction: column;

                > h3 {
                    font-size: 26px;
                    font-weight: bold;
                    border-bottom: 1px solid transparent;
                }

                > input:first-child {
                    font-family: "Proxima Nova";
                    font-size: 26px;
                    font-weight: bold;
                    color: rgb(75, 75, 75);
                    border: none;
                    outline: none;
                    border-bottom: 1px solid rgb(75, 75, 75);
                }

                > p {
                    margin-top: 10px;
                    border-bottom: 1px solid transparent;
                }

                > p:nth-child(2) {
                    font-style: italic;
                }

                > input:nth-child(2) {
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 16px;
                    font-family: "Proxima Nova";
                    color: rgb(75, 75, 75);
                    border: none;
                    outline: none;
                    border-bottom: 1px solid rgb(75, 75, 75);
                }

                > p:nth-child(3) {

                }

                > input:nth-child(3) {
                    margin-top: 10px;
                    font-size: 16px;
                    font-family: "Proxima Nova";
                    color: rgb(75, 75, 75);
                    border: none;
                    outline: none;
                    border-bottom: 1px solid rgb(75, 75, 75);
                }

                > p:last-child {
                    white-space: pre-wrap;
                    overflow: auto;
                }

                > textarea {
                    margin-top: 10px;
                    font-size: 16px;
                    font-family: "Proxima Nova";
                    color: rgb(75, 75, 75);
                    border: none;
                    outline: none;
                    border: 1px solid rgb(75, 75, 75);
                    width: 770px;
                    height: 366px;
                }

                > input:focus, > input:hover {
                    border-bottom: 1px solid #428a13;
                    color: #428a13;
                }

                > input.error {
                    border-bottom: 1px solid red;
                    color: red;
                }

                > textarea:focus, > textarea:hover {
                    border: 1px solid #428a13;
                    color: #428a13;
                }

            }

        }

    }

}
