#profile-page {
    margin-top: 65px;

    > section:first-child {

        > h2 {

        }

        > a {

        }

    }

    > section:last-child {

        > div:first-child {

            > img {
                height: 150px;
                width: 150px;
                object-fit: cover;
                border-radius: 50%;
            }

            > p:nth-child(2) {

            }

            > p:last-child {

            }

        }

        > div:last-child {

            > h3 {

            }

            > p:nth-child(2) {

            }

            > p:nth-child(3) {

            }

            > p:last-child {

            }

        }

    }

}
