#trail-page {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(240, 240, 240);
    color: rgb(75, 75, 75);

    > div {
        width: 1000px;

        > #location-tree {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            position: relative;
            z-index: 2;
            padding-left: 12px;

            > div {
                font-size: 12px;

                > span {
                    margin-right: 12px;
                }

            }

            #search-container {
                position: relative;
                z-index: 0;

                #search-bar {
                    position: relative;
                    z-index: 2;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 36px;
                    width: 300px;
                    border-radius: 10px;
                    border: 1px solid rgb(220, 220, 220);

                    > img:first-child {
                        display: none;
                    }

                    > input {
                        font-size: 14px;
                        font-weight: 400;
                        color: #737373;
                        border: none;
                        width: 264px;
                        padding-left: 14px;
                    }

                    > input:focus {
                        outline: none;
                    }

                    > button {
                        border: none;
                        background-image: url("/trail_images/search_icon.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 16px 16px;
                        background-color: #52a917;
                        border-radius: 0px 10px 10px 0px;
                        height: 37px;
                        width: 37px;
                        position: relative;
                        left: 2px;
                    }

                    > button:hover {
                        opacity: 0.75;
                        cursor: pointer;
                    }

                }

                > #search-modal {
                    position: absolute;
                    z-index: 1;
                    top: 38px;
                    left: 2px;
                    max-height: 350px;
                    width: 300px;
                    background: white;
                    overflow-y: scroll;

                    > a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        height: 40px;
                        border-bottom: 0.25px solid rgba(190, 190, 190, 0.25);
                        color: rgb(70, 70, 70);

                        > img {
                            filter: hue-rotate(70deg);
                            height: 20px;
                            margin-left: 10px;
                        }

                        > article {
                            margin-left: 10px;

                            > div:first-child {
                                font-size: 14px;
                            }

                            > div:last-child {
                                display: none;
                            }

                        }

                    }

                    > a:hover {
                        background-color: #52a917;
                        color: white;
                        cursor: pointer;

                        > img {
                            filter: brightness(0%) opacity(0.5);
                        }

                    }

                }

            }

        }

        > #trail-img {
            display: flex;
            justify-content: space-between;
            height: 300px;
            position: relative;

            > img {
                height: 300px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            > div {
                position: absolute;
                z-index: 1;
                background: linear-gradient(#ffffff00, #00000099);
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                > div {
                    color: white;
                    margin: 0px 0px 50px 35px;

                    > p:nth-child(1) {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }

                    > p:nth-child(2) {
                        display: flex;
                        align-items: center;

                        > span {
                            border-radius: 6px;
                            padding: 4px 8px 4px 8px;
                            color: white;
                            margin-right: 2px;
                        }

                        > .easy {
                            background-color: #428a13;
                        }

                        > .moderate {
                            background-color: rgb(0, 180, 255);
                        }

                        > .hard {
                            background-color: rgb(80, 80, 80);
                        }

                        > img {
                            height: 20px;
                            margin: 0px 0px 4px 12px;
                        }

                    }

                }

                > #star {
                    height: 40px;
                    width: 40px;
                    margin: 0px 35px 50px 0px;
                    filter: invert(100%);
                }

                > #star:hover {
                    transform: scale(1.25);
                    cursor: pointer;
                }

            }


        }

        > section {
            display: flex;
            background: white;

            > #trail-details {
                flex-grow: 1;
                border: 1px solid rgb(200, 200, 200);

                > #details {
                    display: flex;
                    align-items: center;
                    padding: 30px;

                    > div {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 12px;

                        > p:last-child {
                            font-size: 18px;
                            font-weight: bold;
                            margin: 8px;
                        }

                    }

                }

                > #map {

                    > section:first-child {
                        background: #f0f0f0;
                        height: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 24px;
                        border-top: 1px solid #c8c8c8;

                        > h2 {
                            color: #428a13;
                            font-size: 22px;
                            font-weight: bold;
                        }

                    }

                    > section:last-child {
                        display: flex;
                        align-items: center;
                        padding: 25px;

                        > #map-container {
                            height: 300px;
                            width: 100%;
                            border-radius: 15px;
                        }
                    }

                }

                > #weather-widget {

                    > section:first-child {
                        background: #f0f0f0;
                        height: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 24px;
                        border-top: 1px solid #c8c8c8;

                        > h2 {
                            color: #428a13;
                            font-size: 22px;
                            font-weight: bold;
                        }

                    }

                    > section:last-child {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        > article {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            height: 90px;
                            padding: 24px;

                            > h6 {
                                font-size: 15px;
                            }

                            > img {
                                height: 60px;
                            }

                            > p {
                                font-size: 15px;
                            }

                        }

                    }

                }

                > #reviews {

                    > section:first-child {
                        background: #f0f0f0;
                        height: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 24px;
                        border-top: 1px solid #c8c8c8;

                        > h2 {
                            color: #428a13;
                            font-size: 22px;
                            font-weight: bold;
                        }

                    }

                    > section:nth-child(2) {

                        > section {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding-top: 30px;

                            > div:first-child {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                > div {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 10px;

                                    > img {
                                        height: 46px;
                                    }

                                    > p {
                                        font-size: 56px;
                                    }

                                }

                                > p {
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }

                            }

                            > div:last-child {
                                position: relative;

                                > button {
                                    border: none;
                                    background: #428a13;
                                    border-radius: 50px;
                                    padding: 10px;
                                    height: 50px;
                                    width: 170px;
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: white;
                                }

                                > button:hover {
                                    opacity: 0.85;
                                    cursor: pointer;
                                }

                                > p {
                                    position: absolute;
                                    opacity: 0;
                                    top: -50px;
                                    transition: all 0.7s ease-in-out;
                                    color: red;
                                }

                                > p.flash {
                                    top: -30px;
                                    opacity: 1;
                                }

                            }

                        }

                        > ol {
                            padding: 30px;

                            > li {
                                border-top: 1px solid #c8c8c8;
                                padding: 26px 12px;

                                > div:first-child {
                                    font-size: 18px;
                                    font-weight: bold;
                                    margin-left: 2px;
                                    display: flex;
                                    align-items: center;

                                    > img {
                                        margin-right: 10px;
                                        height: 60px;
                                        border-radius: 50%;
                                    }

                                    > div {
                                        display: flex;
                                        flex-direction: column;

                                        > span {
                                            margin: 3px 0px;
                                        }

                                        > span:last-child {
                                            font-size: 14px;
                                            color: #767676;
                                            margin-right: 15px;
                                            display: flex;

                                            > img {
                                                filter: grayscale(1);
                                                height: 18px;
                                                margin-right: 5px;
                                            }

                                            > img.filled {
                                                filter: none;
                                            }

                                            > span {
                                                margin-top: 3px;
                                            }

                                        }

                                    }

                                }


                                > div:last-child {
                                    font-size: 16px;
                                    color: #535353;
                                    margin-top: 25px;
                                    margin-bottom: 20px;
                                }

                            }

                        }

                    }

                    > #review-form {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, 0.75);
                        position: absolute;
                        left: 0px;
                        z-index: 10;

                        > form {
                            background: white;
                            width: 470px;
                            height: 490px;
                            border-radius: 15px;
                            padding: 25px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            > section:first-child {

                                > img {
                                    height: 24px;
                                    width: 32px;
                                }

                                > img:hover {
                                    opacity: 0.7;
                                    cursor: pointer;
                                }

                                > h3 {
                                    font-size: 30px;
                                    font-weight: bold;
                                    margin-top: 24px;
                                }

                                > div:nth-child(3) {
                                    margin-top: 24px;

                                    > img {
                                        filter: grayscale(1);
                                        transition: transform 0.1s;
                                    }

                                    > img:hover {
                                        cursor: pointer;
                                    }

                                    > img:active {
                                        opacity: 0.5;
                                    }

                                    > img.active {
                                        transform: scale(1.15);
                                        filter: none;
                                    }

                                    > img.selected {
                                        transform: scale(1.15);
                                        filter: none;
                                    }

                                    // > img:hover {
                                    //     transform: scale(1.15);
                                    //     filter: none;
                                    // }

                                }

                                > textarea {
                                    border-radius: 10px;
                                    border: 1px solid #e6e6e6;
                                    height: 140px;
                                    width: 436px;
                                    margin-top: 24px;
                                    padding: 12px 16px;
                                    line-height: 1.5;
                                    font-size: 16px;
                                    color: #414141;
                                    font-family: 'Times New Roman', Times, serif;
                                    resize: none;
                                }

                                > textarea:focus {
                                    outline: none;
                                }

                            }

                            > section:last-child {

                                > div:last-child {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: flex-end;
                                    margin-top: 24px;
                                    border-top: 1px solid #e6e6e6;
                                    height: 70px;

                                    > button {
                                        border: none;
                                        background: #428a13;
                                        border-radius: 50px;
                                        padding: 10px;
                                        height: 50px;
                                        width: 120px;
                                        font-size: 16px;
                                        font-weight: bold;
                                        color: white;
                                    }

                                    > button:hover {
                                        opacity: 0.85;
                                        cursor: pointer;
                                    }

                                }

                            }
                        }
                    }

                }

            }

             >#nearby-trails {
                display: flex;
                flex-direction: column;
                border-right: 1px solid #c8c8c8;
                border-bottom: 1px solid #c8c8c8;

                > a {
                    height: 300px;
                    width: 300px;
                    padding: 8px;
                    transition: all 0.1s ease-in-out;

                    > img {
                        width: 100%;
                        height: 200px;
                        border-radius: 25px;
                        object-fit: cover;
                    }

                    > div:nth-child(2) {
                        margin-top: 4px;
                        color: rgb(75, 75, 75);
                        font-size: 12px;
                        display: flex;
                        align-items: center;

                        > span {
                            border-radius: 6px;
                            padding: 4px 8px 4px 8px;
                            color: white;
                            margin-right: 2px;
                        }

                        > .easy {
                            background-color: #428a13;
                        }

                        > .moderate {
                            background-color: rgb(0, 180, 255);
                        }

                        > .hard {
                            background-color: rgb(80, 80, 80);
                        }

                        > img {
                            height: 14px;
                            width: 14px;
                            margin-left: 2px;
                        }

                    }

                    > div:nth-child(3) {
                        margin-top: 6px;
                        color: rgb(75, 75, 75);
                        font-weight: bold;
                        font-size: 15px;
                    }

                    > div:nth-child(4) {
                        margin-top: 4px;
                        color: rgb(120, 120, 120);
                        font-size: 12px;
                    }

                    > div:nth-child(5) {
                        margin-top: 4px;
                        color: rgb(120, 120, 120);
                        font-size: 12px;
                    }

                }

                > a:hover {
                    background: rgb(220, 220, 220);
                }

            }

        }

    }


}
